*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 400;
    letter-spacing: .7px;
}

body{
    background-color: rgb(255, 255, 255);
}
/*---------------------------------HOMEPAGE STYLING-----------------------
--------------------------------------------------------------------------*/


.header{
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: color-change 12s infinite;
}

.scroller{
    max-width: 22%;
    margin-top: 5%;
}

.scroller-inner{
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;

    .text{
        font-weight: bold;
        font-size: 12px;
        animation: color-change 12s infinite;
    }
}

.scroller{
    position: relative;
    margin-top: 3.5%;
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 50%, white 50%, transparent);
}

.scroller .scroller-inner{
    flex-wrap: nowrap;
    animation: scroll 100s linear infinite;
}

.nav-Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    height: 100%;
    margin-top: 5vh;
}

ul > li {
    list-style: none;
    
    & > p{
        z-index: 1;
        display: flex;
        justify-content: center;
        animation: color-change 12s infinite;
    }
}

.about {
    flex-basis: 266px;
}
.moving-image {
    flex-basis: 275px;
}
.digital-journal {
    flex-basis: 335px;
}

.hplink{
    display: block;
}

#digital-journal{
    max-width: 100%;
    object-fit: cover;
}

#moving-image{
    max-width: 100%;
    object-fit: cover;
}

#about{
    max-width: 100%;
    object-fit: cover;
}

#about:hover{
    filter: invert(80%);
}

#moving-image:hover{
    filter: invert(80%);
}

#digital-journal:hover{
    filter: invert(80%);
}

/* ----------------------------------ABOUTPAGE STYLING------------------------
------------------------------------------------------------------------------*/
.homebutton{
    text-align: center;
    animation: color-change 12s infinite;
    text-decoration: none;
    font-size: 32px;
}

.aboutContent{
    display: grid;
    gap: 1rem;
    margin-top: 15vh;
}

.profile-wrapper{
    height: 100%;
    padding: 2rem;
}

.profile-wrapper > img{
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 100%;
}

.aboutText-wrapper{
    padding: 2rem;

    > h2 {
        animation: color-change 12s infinite;
    }
}

#aboutText-wrapper{
    display: inline;
}

.aboutContact{
    margin-top: 15px;
    padding: 2rem;
    animation: color-change 12s infinite;
}

@media (min-width: 760px) {
    .aboutContent {
        gap: 3rem;
        grid-template-columns: 300px 1fr;
    }
}


/*----------------------------------MOVING-IMAGE PORTFOLIO-------------------------------
-----------------------------------------------------------------------------------------*/

.moving-image-grid {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    padding: 2rem;
}

.portfolio-item {
    min-height: 250px;
    background-size: cover;
    background-position: center;
    transition: all ease-in-out 360ms;

    & a{
        width: 100%;
        height: 100%;
        display: block;
    }

    & > p{
        margin-top: 5px;
    }

    &:hover{
        background-position: 40%;
    }
}

#one{
    background-image: url("wie-soll-ich-mich-nennenCover.png");
}

#two{
    background-image: url("set-the-stageCover.png");
}

#three{
    background-image: url("roundaboutCover.png");
}

#four{
    background-image: url("tightropeCover.png");
}

#five{
    background-image: url("addictionCover.png");
}

#six{
    background-image: url("organic-meetCover.png");
}

#seven{
    background-image: url("bark-of-the-dogCover.png");
}

#eight{
    background-image: url("my-heart-wont-stop-beatingCover.png");
}

#nine{
    background-image: url("i-killed-your-fishyCover.png");
}

#ten{
    background-image: url("for-leo-and-r-beaversCover.png");
}

#eleven{
    background-image: url("zu-meinem-juengeren-ichCover.png");
}

#twelve{
    background-image: url("provokation/provokation_cover.jpeg");
}

/*-----------------------------PROJECT-PAGE STYLING-----------------------
--------------------------------------------------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

.back-to-projects{
    left: 5%;
    position: absolute;
    z-index: 10;
    margin-top: 2vh;

    &:hover{
        mask: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), 20%);
    }

    & .homebutton{
        font-size: 12px;
    }
}

.carousel {
    position: relative;
    height: 60vh;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity;
    transition-delay: 200ms;
    height: 70%;
    width: 70%;
    justify-content: center;
    margin-left: 15%;
    margin-top: 5%;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.slide > video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4vw;
    top: 37%;
    transform: translateY(-50%);
    color: rgba(190, 190, 190, 1);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .25rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus{
    outline: 1px solid white;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next{
    right: 1rem;
}


/*-----------------------------DIGITAL JOURNAL-----------------------
--------------------------------------------------------------------------*/

.digital-journal-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project{
    max-width: 100%;
    height: 100%;
    padding: 0.25rem 0.25rem;
}

.journal-text{
    padding: 0.25rem 0.25rem;
}

#kiwi{
    display: flex;
    
    > video{
        width: 50%;
        height: 50%;
        object-fit: contain;
    }
}

#wespe > video{
        width: 100%;
        height: 75%;
        object-fit: contain;
}

.wespe-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    height: 25%;

    > img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

#schimmel {
    display: flex;

    > .journal-text{
        width: 20%;
        align-content: center;
    }
}

.schimmel-gallery {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    align-content: center;
}
   
.schimmel-large{
    width: 50%;
    height: 100%;

    > img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.schimmel-smalls{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-content: center;
    align-items: center;
    padding-right: 1em;

    > img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

#atlanta-night{
    display: flex;
    flex-direction: column;

    >img{
        width: 100%;
        object-fit: contain;
    }
}

.atlanta-night-smalls{
    display: flex;

    >img{
        width: 50%;
        padding: 0.25rem;
        padding-bottom: 0.5rem;
    }
}

#ffmstreik{
    display: flex;
    flex-wrap: wrap;

    > .journal-text{
        width: 30%;
        height: 50%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    >img {
        width: 70%;
        height: 50%;
        object-fit: contain;
        padding: 0.5rem;
    }
}

#nudes{
    display: flex;

    >img{
        width: 50%;
        object-fit: contain;
        padding: 0.25rem 0.25rem;
    }
}

@media (max-width: 612px){
    #ffmstreik{
        flex-direction: column;

        > .journal-text{
            flex-direction: row;
            width: 100%;
        }

        > img{
            align-items: center;
            justify-items: center;
        }
    }
}


@media (max-width: 574px) {
    #schimmel{
        flex-direction: column-reverse;

        > .journal-text{
            width: 100%;
        }
    }

    .schimmel-gallery{
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-items: center;
        width: 100%;
    }
}


@keyframes color-change {
    0% {color: red;}
    20% {color: rgb(255, 102, 0);}
    40% {color: green;}
    60% {color: purple;}
    80% {color: blue;}
    100% {color: red;}
}

@keyframes scroll {
    to {
        transform: translate(-50%);
    }
}