*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 400;
    letter-spacing: .7px;
}

body{
    background-color: rgb(255, 255, 255);
}
/*---------------------------------HOMEPAGE STYLING-----------------------
--------------------------------------------------------------------------*/


.header{
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: color-change 12s infinite;
}

.scroller{
    max-width: 22%;
    margin-top: 5%;
}

.scroller-inner{
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;

    .text{
        font-weight: bold;
        font-size: 12px;
        animation: color-change 12s infinite;
    }
}

.scroller{
    position: relative;
    margin-top: 3.5%;
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 50%, white 50%, transparent);
}

.scroller .scroller-inner{
    flex-wrap: nowrap;
    animation: scroll 100s linear infinite;
}

.nav-Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    height: 100%;
    margin-top: 5vh;
}

ul > li {
    list-style: none;
    
    & > p{
        z-index: 1;
        display: flex;
        justify-content: center;
        animation: color-change 12s infinite;
    }
}

.about {
    flex-basis: 266px;
}
.moving-image {
    flex-basis: 275px;
}
.digital-journal {
    flex-basis: 335px;
}

.hplink{
    display: block;
}

#digital-journal{
    max-width: 100%;
    object-fit: cover;
}

#moving-image{
    max-width: 100%;
    object-fit: cover;
}

#about{
    max-width: 100%;
    object-fit: cover;
}

#about:hover{
    filter: invert(80%);
}

#moving-image:hover{
    filter: invert(80%);
}

#digital-journal:hover{
    filter: invert(80%);
}

/* ----------------------------------ABOUTPAGE STYLING------------------------
------------------------------------------------------------------------------*/
.homebutton{
    text-align: center;
    animation: color-change 12s infinite;
    text-decoration: none;
    font-size: 32px;
}

.aboutContent{
    display: grid;
    gap: 1rem;
    margin-top: 15vh;
}

.profile-wrapper{
    height: 100%;
    padding: 2rem;
}

.profile-wrapper > img{
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 100%;
}

.aboutText-wrapper{
    padding: 2rem;

    > h2 {
        animation: color-change 12s infinite;
    }
}

#aboutText-wrapper{
    display: inline;
}

.aboutContact{
    margin-top: 15px;
    padding: 2rem;
    animation: color-change 12s infinite;
}

@media (min-width: 760px) {
    .aboutContent {
        gap: 3rem;
        grid-template-columns: 300px 1fr;
    }
}

@keyframes color-change {
    0% {color: red;}
    20% {color: yellow;}
    40% {color: green;}
    60% {color: purple;}
    80% {color: blue;}
    100% {color: red;}
}


/*----------------------------------MOVING-IMAGE PORTFOLIO-------------------------------
-----------------------------------------------------------------------------------------*/

.moving-image-grid {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    padding: 2rem;
}

.portfolio-item {
    min-height: 250px;
    background-size: cover;
    background-position: center;
    transition: all ease-in-out 360ms;

    & a{
        width: 100%;
        height: 100%;
        display: block;
    }

    & > p{
        margin-top: 5px;
    }

    &:hover{
        background-position: 40%;
    }
}

#one{
    background-image: url("wie-soll-ich-mich-nennenCover.png");
}

#two{
    background-image: url("set-the-stageCover.png");
}

#three{
    background-image: url("roundaboutCover.png");
}

#four{
    background-image: url("tightropeCover.png");
}

#five{
    background-image: url("addictionCover.png");
}

#six{
    background-image: url("organic-meetCover.png");
}

#seven{
    background-image: url("bark-of-the-dogCover.png");
}

#eight{
    background-image: url("my-heart-wont-stop-beatingCover.png");
}

#nine{
    background-image: url("i-killed-your-fishyCover.png");
}

#ten{
    background-image: url("for-leo-and-r-beaversCover.png");
}

#eleven{
    background-image: url("zu-meinem-juengeren-ichCover.png");
}

/*-----------------------------PROJECT-PAGE STYLING-----------------------
--------------------------------------------------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

.back-to-projects{
    left: 5%;
    position: absolute;
    z-index: 10;
    margin-top: 2vh;

    &:hover{
        mask: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), 20%);
    }

    & .homebutton{
        font-size: 12px;
    }
}

.carousel {
    position: relative;
    height: 60vh;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity;
    transition-delay: 200ms;
    height: 70%;
    width: 70%;
    justify-content: center;
    margin-left: 15%;
    margin-top: 5%;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4vw;
    top: 37%;
    transform: translateY(-50%);
    color: rgba(190, 190, 190, 1);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .25rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus{
    outline: 1px solid white;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next{
    right: 1rem;
}


/*-----------------------------DIGITAL JOURNAL-----------------------
--------------------------------------------------------------------------*/

.digitalJournal-wrapper-page{
    display:inline-flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.digitalJournal-wrapper-grid{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.digitalJournal-portfolio{
    display: grid;
    height: 100%;
    width: 100%;
    margin-top: 100px;
    grid-template-rows: repeat(auto-fit, 100px);
    grid-template-columns: repeat(8, 150px);
    column-gap: 2rem;
    row-gap: 3rem;
    z-index: 1;
    padding: 2rem;

    & .large-photo{
        grid-row: span 4;
        grid-column: span 6;
    }

    & .small-photo{
        grid-row: span 3;
        grid-column: span 4;
    }

    & .stamp{
        grid-row: span 1;
        grid-column: span 1;
    }

    & .heading{
        grid-row: span 1;
        grid-column: span 8;
    }

    & .blog{
        grid-row: span 1;
        grid-column: span 8;
    }

    & .column-blog{
        grid-row: span 4;
        grid-column: span 2;
    }

    & .skinny-blog{
        grid-row: span 4;
        grid-column: span 1;
    }

    & .triple{
        grid-row: span 3;
        grid-column: span 2;
    }
}

.rightaligned {
    padding-right: 4rem;
}

.column-blog > h1{
    margin-right: 5%;
    margin-left: -10%;
}

#j-one{
    background-image: url("digital-journal/kristallkronleuchter.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-two{
    background-image: url("digital-journal/abendessen.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-three{
    min-width: 0; 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden;
}

#j-three video {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


#j-four{
    background-image: url("digital-journal/wespe.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-five{
    background-image: url("digital-journal/wespe.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-six{
    background-image: url("digital-journal/wespe.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-seven{
    background-image: url("digital-journal/wespe.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-eight{
    background-image: url("digital-journal/wespe.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-nine{
    background-image: url("digital-journal/wespe.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-ten{
    background-image: url("digital-journal/wespe.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-eleven{
    background-image: url("digital-journal/wespe.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-twelve{
    background-image: url("digital-journal/sci-fi.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-fifteen{
    background-image: url("digital-journal/streik1.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-sixteen{
    background-image: url("digital-journal/streik3.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-seventeen{
    background-image: url("digital-journal/still1.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-eighteen{
    background-image: url("digital-journal/still2.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-nineteen{
    background-image: url("digital-journal/schimmel1.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-twenty{
    background-image: url("digital-journal/schimmel2.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#j-twentyone{
    background-image: url("digital-journal/schimmel3.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



@keyframes color-change {
    0% {color: red;}
    20% {color: yellow;}
    40% {color: green;}
    60% {color: purple;}
    80% {color: blue;}
    100% {color: red;}
}

@keyframes scroll {
    to {
        transform: translate(-50%);
    }
}